<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<bean id="customerService" class="com.springtraining.springaop.types2.CustomerService">
		<property name="name" value="Mr XYZ" />
		<property name="id" value="12345" />
	</bean>

	<bean id="insertAfterMethodBean" class="com.springtraining.springaop.types2.InsertAfterMethod" />
	<bean id="insertBeforeMethodBean" class="com.springtraining.springaop.types2.InsertBeforeMethod" />
	<bean id="insertThrowException" class="com.springtraining.springaop.types2.InsertThrowException" />


	<bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="customerService" />

		<property name="interceptorNames">
			<list>
				<value>insertBeforeMethodBean</value>
				<value>insertAfterMethodBean</value>
				<value>insertThrowException</value>
			</list>
		</property>
	</bean>
</beans>